html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.timer{
  font: 20px 'Roboto Mono', monospace;
}

/* Styles for the deck of cards */

.deck {
    height: 100px;
    width: 100px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 2.2vw;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.card {
    height: 10vw;
    width: 10vw;
    transition: background 0.2s, font-size 0.2s, box-shadow 0.2s 0.2s;
}

.deck .card {
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/* Styles for the Score Panel */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Styles for the Result Box */

.result {
    display: none;
    position: fixed;
    color: rgb(173, 92, 8);
    width: 500px;
    height: 250px;
    border: solid 3px rgb(219, 64, 15);
    text-align: center;
    background-color: rgb(252, 152, 59);
    left: calc(50% - (250px));
    top: calc(50% - (250px));
    border-radius: 10px;
}

.result>h2 {
    font-size: 2.3em;
    margin: 10px auto 5px;
}

.result>.fa {
    font-size: 3em;
    color: rgb(250, 212, 52);
    margin: 0 15px;
}

.timerRes{
  font: 3em 'Roboto Mono', monospace;
}

.btnRestart {
    width: 35%;
    height: 15%;
    background-color: rgb(175, 99, 38);
    border-color: rgb(235, 102, 6);
    color: rgb(235, 200, 53);
}

/* Media */

@media screen and (max-width: 900px) {
  h1 {
      font-size: 25px;
  }

  .timer{
    font-size: 14px;
  }

  .score-panel {
      width: 220px;
  }

  .result {
      width: 350px;
      height: 180px;
      left: calc(50% - (175px));
      top: calc(50% - (175px));
      font-size: 0.7em;
  }

  .result>h2 {
      margin: 6px auto 3px;
  }

  .result>.fa {
      margin: 0 10px;
  }

  .btnRestart {
      font-size: inherit;
  }

  .deck .card.show,
  .deck .card.match {
      font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
      font-size: 18px;
  }

  .timer{
    font-size: 10px;
  }

  .score-panel {
      width: 130px;
      font-size: 10px;
  }

  .result {
      width: 200px;
      height: 110px;
      left: calc(50% - (100px));
      top: calc(50% - (150px));
      font-size: 0.4em;
  }

  .result>h2 {
      margin: 4px auto 2px;
  }

  .result>.fa {
      margin: 0px 6px;
  }

  .deck .card.show,
  .deck .card.match {
      font-size: 10px;
  }
}
